<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true" pattern="/admin/**" authentication-manager-ref="adminAuthenticationManager">
        <intercept-url pattern="/admin/login**" access="permitAll()" />
        <intercept-url pattern="/admin/img/**" access="permitAll()"/>
        <intercept-url pattern="/admin/css/**" access="permitAll()"/>
        <intercept-url pattern="/admin/js/**" access="permitAll()"/>
        <intercept-url pattern="/admin/vendor/**" access="permitAll()"/>
        <intercept-url pattern="/admin/userAuth**" access="hasRole('ROLE_USER_AUTH_MANAGE')" />
        <intercept-url pattern="/admin/user**" access="hasRole('ROLE_USER_MANAGE')" />
        <intercept-url pattern="/admin/service**" access="hasRole('ROLE_SERVICE_MANAGE')" />
        <intercept-url pattern="/admin/publish**" access="hasRole('ROLE_PUBLISH_MANAGE')" />
        <intercept-url pattern="/admin/record**" access="hasRole('ROLE_RECORD_MANAGE')" />
        <intercept-url pattern="/admin/team**" access="hasRole('ROLE_TEAM_MANAGE')" />
        <intercept-url pattern="/admin/activityPublish**" access="hasRole('ROLE_ACTIVITY_MANAGE')" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <form-login login-page="/admin/login" authentication-failure-url="/admin/login?error=1"
                    default-target-url="/admin/index"/>
        <!--<logout logout-url="/admin/logout" logout-success-url="/admin/login" />-->
        <csrf disabled="true"/>
        <remember-me remember-me-cookie="remember-me" remember-me-parameter="remember-me"
                     user-service-ref="customUserDetailsService"
                     token-validity-seconds="86400"/>
    </http>


    <http auto-config="true" pattern="/**" authentication-manager-ref="userAuthenticationManager">
        <intercept-url pattern="/img/**" access="permitAll()"/>
        <intercept-url pattern="/css/**" access="permitAll()"/>
        <intercept-url pattern="/js/**" access="permitAll()"/>
        <intercept-url pattern="/login" access="permitAll()"/>
        <intercept-url pattern="/loginPage" access="permitAll()"/>
        <!--游客模式开始-->
        <intercept-url pattern="/publish/list" access="permitAll()"/>
        <intercept-url pattern="/request/list" access="permitAll()"/>
        <intercept-url pattern="/index" access="permitAll()"/>
        <!--游客模式结束-->
        <intercept-url pattern="/register" access="permitAll()"/>
        <intercept-url pattern="/user/login" access="permitAll()"/>
        <intercept-url pattern="/user/register2" access="permitAll()"/>
        <intercept-url pattern="/user/register" access="permitAll()"/>
        <intercept-url pattern="/recharge/weixin_notify**" access="permitAll()"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <form-login login-page="/loginPage" authentication-failure-url="/login?error=1"/>
        <csrf disabled="true"/>
        <remember-me remember-me-cookie="remember-me" remember-me-parameter="remember-me"
                     user-service-ref="customUserDetailsService"
                     token-validity-seconds="86400"/>
    </http>

    <authentication-manager id="adminAuthenticationManager">
        <authentication-provider user-service-ref="customAdminDetailsService"/>
    </authentication-manager>

    <authentication-manager id="userAuthenticationManager">
        <authentication-provider user-service-ref="customUserDetailsService"/>
    </authentication-manager>

    <beans:bean id="customAdminDetailsService" class="com.blockchain.timebank.config.CustomAdminDetailsService"/>
    <beans:bean id="customUserDetailsService" class="com.blockchain.timebank.config.CustomUserDetailsService"/>

</beans:beans>