.dialog-box{display:none}.dialog-mask{position:fixed;top:0;bottom:0;left:0;right:0;z-index:999;background:rgba(0,0,0,0.65)}.dialog{width:72%;margin:0 auto;border-radius:4px;position:fixed;top:30%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);text-align:center;z-index:1000;background:#fff;margin-top:20px}.dialog-title:before{content:'';display:block;width:100%;padding-top:7px}.dialog-title{width:100%;height:49px;line-height:42px;font-size:17px}.dialog-content{padding:0 8.9% 17px;line-height:18px;font-size:13px}.dialog-group,.dialog-group-confirm{width:100%;height:44px;border-top:1px solid #e0e0e0;font-size:0}.dialog-group button,.dialog-group-confirm button{display:inline-block;height:100%;padding:0;border:0;line-height:44px;font-size:16px;background:#fff;color:#e3474e;outline:0}.dialog-group button:hover,.dialog-group-confirm button:hover{background:#f5f7fa}.dialog-btn-close{width:100%;border-radius:4px}.dialog-btn-close.dialog-btn-cancel{width:50%;border-radius:4px}.dialog-btn-close.dialog-btn-sure{width:50%;border-radius:4px}
.activity-time-end{
    width: 100%;
    min-height: 44px;
    /*border-bottom: 1px solid #e6d273;*/
    position: relative;
    text-align: center;
    background: #fbf1c2;
}
.activity-time-end:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #e6d273;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform:scaleY(0.5);
    -ms-transform:scaleY(0.5);
    -moz-transform:scaleY(0.5);
    -webkit-transform:scaleY(0.5);
    -o-transform:scaleY(0.5);
}
.activity-time-end p,
.activity-time-end span{
    font-size: 15px;
    line-height: 21px;
    color: #e6454a;
}
.activity-time-end .activity-time-end-look-method{
    font-size: 15px;
    color:#846545;
}
.activity-time-end .activity-time-end-ing{
    font-size: 19px;
    color: #e6454a;
}
.activity-time-end p:nth-of-type(1):before{
    content: '';
    display: block;
    width: 100%;
    height: 12px;
}
.activity-time-end p:nth-of-type(2){
    color: #846545;
    padding-bottom: 11px;
}
.activity-time-end p em{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #846545;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}